{#
Display a grid of group items.

groups - A list of groups.

Example:

    {% snippet "group/snippets/group_list.html" %}

#}

<!-- Minh 03/02
 Fix display hiden group in home -->

{% block group_list %}
<ul class="media-grid" data-module="media-grid">
	{% block group_list_inner %}
  {% for group in groups %}
    {% if group.title != "Danh mục dùng chung" %}
    {% snippet "group/snippets/group_item.html", group=group, position=loop.index %}
    {% endif %}
  {% endfor %}
  {% endblock %}
</ul>
{% endblock %}
